importFrom("methods",
           "is", "new", "slot", "slotNames", "callNextMethod", "getMethod")

importFrom("utils",
           # "sessionInfo",
           "packageDescription", "packageVersion")

importFrom("blavaan",
           "blavaan", "bsem")

import(Rcpp)

importFrom("RcppParallel", "CxxFlags", "RcppParallelLibs")

import(rstantools)

export("bsam", "bsam_model")

useDynLib(bsam, .registration = TRUE)
